@import url(./reset.css);

:root {
  --primary-color: #162149;
  --secondary-color: #3bb94c;
  --background-color: #ced8e4;
  --white-color: #ffffff;
  --grey-color: #aaaaaa;
  --dark-color: #222222;
}

html,
body {
  background-color: var(--background-color);
  line-height: 1.3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

.wrapper {
  padding: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3em;
}

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  width: 1000px;
  height: 600px;
}

/* mobile */
@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 8px;
  }
}

.reservations-list {
  width: 100%;
  overflow-y: scroll;
}

.reservations-list::-webkit-scrollbar {
  width: 5px;
}

.reservations-list::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 50px;
}

.reservations-list::-webkit-scrollbar-track {
  background: rgba(22, 33, 73, 0.1);
}

.reservations-list__button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 0.2em 0.1em;
  width: 50px;
}

.reservations-list__item {
  background-color: var(--white-color);
  margin-bottom: 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr 0.2fr;
  grid-template-columns: 0.3fr 1fr 0.2fr;
  place-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  padding: 1em 0.5em;
}

/* mobile */
@media (max-width: 1024px) {
  .reservations-list__item {
    -ms-grid-columns: 0.3fr 0.8fr 0.2fr;
    grid-template-columns: 0.3fr 0.8fr 0.2fr;
  }
}

.reservations-list__item__customerInfo,
.reservations-list__item__menus {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 300px;
}

/* mobile */
@media (max-width: 1024px) {
  .reservations-list__item__customerInfo,
  .reservations-list__item__menus {
    width: 150px;
  }
}

.reservation__status--reserved {
  color: var(--secondary-color) !important;
  background-color: rgba(59, 185, 76, 0.1);
  padding: 0.3em 0.5em;
  border-radius: 100px;
  border: var(--secondary-color) 1px solid;
  font-size: 0.75em;
}

.reservation__status--seated {
  color: var(--primary-color) !important;
  background-color: rgba(22, 33, 73, 0.1);
  padding: 0.3em 0.5em;
  border-radius: 100px;
  border: var(--primary-color) 1px solid;
  font-size: 0.75em;
}

.reservation-detail {
  max-width: 350px;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 20px;
}
.reservation-detail__body {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* mobile */
@media (max-width: 1024px) {
  .reservation-detail {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0;
  }

  .reservation-detail__body {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.reservation-detail__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.reservation-detail__ul li {
  color: var(--grey-color);
  width: 100%;
  padding: 0.5em 0;
}

.reservation-detail__li--short {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.reservation-detail__li--long {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.reservation-detail__li--long:last-child {
  margin-top: 2em;
}

.reservation-detail__ul li strong {
  color: var(--dark-color);
}

.reservation-detail__button {
  display: none;
}

@media (max-width: 1024px) {
  .reservation-detail__button {
    background: none;
    border: none;
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
  }
}
