:root {
  --primary-color: #162149;
  --secondary-color: #3bb94c;
  --background-color: #ced8e4;
  --white-color: #ffffff;
}

html,
body {
  background-color: var(--background-color);
}

button {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 5px;
  padding: 0.5em 1em;
}

.wrapper {
  width: 100%;
  display: flex;
  gap: 1em;
}

.reservations-list {
  width: 100%;
}

.reservations-list__item {
  background-color: var(--white-color);
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.1fr;
  align-items: center;
  border-radius: 20px;
  padding: 0.5em 1em;
}

.reservations-list__item__customerInfo,
.reservations-list__item__menus {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 300px;
}
.reservations-list__item__status--reserved {
  color: var(--secondary-color);
}

.reservations-list__item__status--seated {
  color: var(--primary-color);
}

.reservation-detail {
  width: 400px;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 0.5em 1em;
}
